@font-face {
    font-family: 'Mukta';
    src: url('fonts/Mukta-Regular.ttf');
}

body {
    width: auto;
    margin: 0;
    background: #D38037;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 1px black;
}

h1, h2, h3, h4 {
    font-family: 'Mukta', sans-serif;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 2px 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: -30px;
    background: #17100B;
}

.menu a {
    width: 100px;
    margin: 5px 0;
    padding: 10px 50px;
    color: inherit;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
}

.header {
    height: 300px;
    background-image: url('images/banner.jpg');
    background-position: center;
    display: flex;
    flex-direction: column;
}

.header h1 {
    background: #D38037;
    margin: 100px auto 0 auto;
    padding: 0px 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.header h2 {
    margin: 10px auto 0 auto;
    padding: 0;
    border-bottom: 4px solid white;
    text-shadow: 0px 0px 5px black;
}

.locales {
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.local {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.local-img {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
    background-size: cover;
    background-position: center;  
}

.local h4{
    margin: 5px 0;
}

.local p {
    text-align: justify;
}

#santuario {
    background-image: url('images/santuario_bom_jesus.jpeg');
}

#se-braga {
    background-image: url('images/se_de_braga.jpg');   
}

#palacio {
    background-image: url('images/palacio_do_raio.jpg');
}

#geres {
    background-image: url('images/geres.jpg');
}

.guide-list {
    background: #17100B;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.guide-list h2 {
    margin: -10px 0;
}

.guide {
    width: 400px;
    height: auto;
    margin: 30px 0;
    border: 1px solid white;
    border-radius: 10px;
}

#FAQ {
    width: 100%;
    height: 500px;
    margin-top: 0;
    border: 10px solid #17100B;
    background: url('images/braga-footer.jpg');
    background-position: center -180px;
    background-size: cover;
}

.Faq h2 {
    width: min-content;
    margin: 10px auto 0 auto;
    padding: 0;
    text-shadow: 0px 0px 5px black;
}

.contact {
    height: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.contact-menu {
    width: 400px;
    height: 400px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background: #17100B;
}

.dados {
    display: block;
    width: 350px;
    height: 300px;
    margin: 0 auto;
    font-size: large;
    text-align: start;
    border: none;
}

.input-campo {
    border: none;
    width: 350px;
    margin-bottom: 15px;
}

#user-text {
    min-height: 150px;
}

.contact-menu div {
    display: flex;
    justify-content: end;
}

.contact-menu button {
    margin-top: 40px;
    margin-right: 12px;
    padding: 5px 14px;
    font-size: 14px;
    background: white;
}